@page
@model TodoApp.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/index.css">
        <link rel="shortcut icon" href="~/img/todo.png" type="image/x-icon">
        <title>Todo List</title>
    </head>
    <body>
        <h1>Todo List Change</h1>
        <h1>Hello, world!</h1>
    </body>
</html>
