@page
@model TodoApp.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/index.css">
        <link rel="shortcut icon" href="~/img/todo.png" type="image/x-icon">
        <title>Todo List</title>
    </head>
    <body>
        <h1>Todo List</h1>
        <form action="" method="post">
            <input type="text">
            <button>Add Todo</button>
        </form>
        <div class="todos">
            @foreach (var todo in Model.todos){
                <div class="todo">
                    <div class="todo-name">Finish this fucking project</div>
                    <input type="checkbox" name="isComplete" id="">
                </div>
            }
        </div>
    </body>
</html>
