<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Todo List</title>
        <link rel="stylesheet" href="~/css/index.css" />
        <link rel="shortcut icon" href="~/img/todo.png" type="image/x-icon">
    </head>
    <body>
        <main>
            @RenderBody()
        </main>
        @RenderSection("Scripts", required: false)
    </body>
</html>
