h1{
    color: red;
    text-align: center;
}

.todos{
    border: 2px solid black;
    width: fit-content;
    margin: auto;
}

.todos .todo{
    display: flex;
    border: 2px red solid;
    width: 80vw;
    background-color: rgba(175, 175, 175, 0.7);
    font-size: 30px;

}

.strike-through{
    text-decoration: line-through;
    color: rgb(200, 200, 200);
}

form{
    margin: auto;
    width: fit-content;
    border: 2px solid black;
}